<html>
  <head>
    <title>Directions Service (Complex)</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="static/map.css" />
    <script type="module" src="static/script.js"></script>
  </head>
  <body>
    {% if session['user_id'] %}
        <div id="logout-button" onclick="window.location.href='/logout'">Logout</div>
    {% endif %}
    <div id="floating-panel">
      <b>Start: </b>
      <select id="start">
        
      </select>
      <b>End: </b>
<input id="end" type="text" placeholder="Enter a destination">
    </div>
    <div id="map"></div>
    &nbsp;
    <div id="warnings-panel"></div>

    <div id="back-button" onclick="window.location.href='/dashboard'">Back to Dashboard</div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoEPxBlh_sN28gkx00Tq5KzPKkZhfM1Vk&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>