<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate</title>
</head>
<body>
    <h1>eng to tr</h1>
    <form id="translate-form">
        <label for="text">English Text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Çevir">
    </form>
    <div id="translation-result"></div>

    <script>
        document.getElementById("translate-form").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch("/translate", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("translation-result").innerHTML = "<h2>Translation Result</h2><p>" + data + "</p>";
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    </script>
</body>
</html>
