.translate-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    height: 100px;
}

select {
    width: 49%;
    margin-right: 2%;
    padding: 10px;
    margin-bottom: 10px;
}

select:last-of-type {
    margin-right: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

#logout-button {
    position: fixed;
    top: 30px;
    right: 10px; 
    padding: 10px;
    background-color: #f44336;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #d32f2f; 
}

#back-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 5;
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
  }

  #back-button:hover {
    background-color: #45a049; 
  }