body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.chat-container {
    margin-top: 60px;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    background-color: #fafafa;
}

.chat-box .message {
    margin-bottom: 20px;
    line-height: 1.4;
}

.chat-box .user-message {
    text-align: right;
}

.chat-box .chatbot-message {
    text-align: left;
}

form {
    display: flex;
    padding: 10px;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

form button {
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.navigation-bar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Adjusted from 'end' to 'space-between' */
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-title {
    color: white;
    font-size: 20px; /* Adjust size as needed */
    padding-left: 20px;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 15px; /* Spacing between links */
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navigation-bar a:hover {
    background-color: #0056b3;
}

.chat-interface {
    display: flex;
    width: 100%;
}

.chat-log-list {
    margin-top: 60px;
    width: 20%;
    height: 440px; /* Same height as chat box */
    overflow-y: auto;
    border-right: 1px solid #ddd;
    background-color: #e9e9e9;
    padding: 50px;
}

/* Add styles for the save button */
#saveChat {
    margin-left: 10px;
    /* Rest of the styles similar to the send button */
}

#newChat {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#newChat:hover {
    background-color: #0056b3;
}

.log-item {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #91beee;
}

.log-item:hover {
    background-color: #007bff;
    color: white;
}